body {font-family: 'Mansalva', cursive;}

#banner {
		display: flex;
		background-color: white;
		justify-content: space-around;
		}
#footer 
		{
		background-color: goldenrod;
		border:red solid 5px;
		border-radius: 5px;
		height: 60px;
		width: 400px;
}
input[class='search'] 
		{ 
		width: 400px;
		height: 30px;
		border-radius: 15px;
}

#books {
	margin: auto;
	border: solid 10px red;
}

longboxs {
	border: green solid 2px;
	background-color: pink;
	width: 100%;
	height: 30px;
	margin-left: 20px;
	display:inline-block;
}

shortboxs {
	border: green solid 2px;
	background-color: pink;
	width: 43%;
	height: 30px;
	margin-left: 20px;
	display:inline-block;
}

name {
	font-family: 'Notable', sans-serif;
	font-size: 10px
}